{
    "sync_interval_seconds": 300,
    "calendars": [
        {
            "name": "personal",
            "id": "primary"
        },
        {
            "name": "work",
            "id": "primary"
        }
    ],
    "sync": [
        {
            "source": "personal",
            "target": "work",
            "sync_days_in_advance": 7,
            "work_hour_start": 13,
            "work_hour_end": 17,
            "default_text": "Busy",
            "accepted_statuses": [
                "accepted",
                "tentative"
            ]
        }
    ]
}